{# templates/admin/listing/category.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="row" style="display: flow-root">
        <h3>{{ title }}</h3>
        <p><a href="{{ path('admin_category_new') }}" class="btn btn-primary">Add category</a></p>
        <span style="float:right">{{ 'Total: '~rows|length }}</span>
    </div>
    <div class="row">
        <table class="table" width="100%">
            <tbody>
                <tr>
                    <th>Title</th>
                    <th>Slug</th>
                    <th></th>
                    <th></th>
                </tr>
                {% for row in rows %}
                <tr id="{{ 'row'~row.id }}">
                    <td>{{ row.title }}</td>
                    <td>{{ row.slug }}</td>
                    <td width="50">
                        <a href="{{ path('admin_category_edit', { 'id':row.id }) }}" class="btn"><i class="fa fa-pencil"></i></a>
                    </td>
                    <td width="50">
                        <a href="{{ path('admin_category_delete', { 'id':row.id }) }}" class="btn"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
