{# templates/admin/listing/user.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Admin - listing user{% endblock %}

{% block body %}
    <div class="row" style="display: flow-root">
        <p><a href="{{ path('admin_user_new') }}" class="btn btn-primary">Add user</a></p>
        <span style="float:right">{{ 'Total: '~rows|length }}</span>
    </div>
    <div class="row">
        <table class="table" width="100%">
            <tbody>
                <tr>
                    <th>Lastname</th>
                    <th>Firstname</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th></th>
                    <th></th>
                </tr>
                {% for row in rows %}
                <tr id="{{ 'row'~row.id }}">
                    <td>{{ row.lastname }}</td>
                    <td>{{ row.firstname }}</td>
                    <td>{{ row.email }}</td>
                    <td>{{ row.phone }}</td>
                    <td width="50">
                        <a href="{{ path('admin_user_edit', { 'id':row.id }) }}" class="btn"><i class="fa fa-pencil"></i></a>
                    </td>
                    <td width="50">
                        <a href="{{ path('admin_user_delete', { 'id':row.id }) }}" class="btn"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
