{% if 'admin' not in app.request.attributes.get('_route') %}
<div id="body" class="row">
    {% if bodies['h2'] is defined %}
        <div class="col-12">
            <h1>{{ bodies['h1'] }}</h1>
            <h2>{{ bodies['h2'] }}</h2>
            <p>{{ bodies['paragraphe'] |nl2br }}</p>
        </div>
    {%  else %}
        <div class="col-12">
            <h1>{{ bodies[0]['h1'] }}</h1>
        </div>
        {% for body in bodies %}
        <div class="col-3">
            <div class="{{ body['icon']}}"></div>
            <h2>{{ body['h2'] }}</h2>
            <p>{{ body['paragraphe'] |nl2br }}</p>
        </div>
        {%  endfor %}
    {%  endif %}
</div>
{% endif %}