<ul class="navbar-nav mr-auto">
    <li class="nav-item active">
        <a class="nav-link" href="{{ '/' }}">{{ 'home'|capitalize }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ 'about' }}">{{ 'about'|capitalize }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ 'login' }}">{{ 'login'|capitalize }}</a>
    </li>
</ul>
