{% set max = 10 %}
<table class="table">
    <thead>
        <tr>
            {% for i in 1..max %}
                <th scope="col">
                    {{ i }}
                </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for i in 1..max %}
            <tr>
                {% for j in 1..max %}
                    {% set k = (i*j)-1 %}
                    <td scope="row">
                        {{ datas[k] }}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        <tr>
            <td colspan="10">
            {#
                {{ 'Null values: '~ count_a~' - ' }}
                {{ 'Positives values: ' ~ count_b~' - ' }}
                {{ 'Negatives values: ' ~ count_c }}
            #}
            </td>
        </tr>
    </tbody>    
</table>
