{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h3>{{ question.title }}</h3>
            <p>{{ question.description }}</p>            
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {% set question_id = question ? question.id : null %}
            {% set response_answer = response ? response.answer : null %}
            <h5>Your code</h5>
            <p>
                <textarea id="textarea" class="form-control" placeholder="Put your code here..." data-id="{{ question_id }}">
                    {{ response_answer }}
                </textarea>
            </p>
            <p>
                <button type="submit" id="sendmycode" name="sendmycode" class="btn btn-primary">Send my code</button>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h5>Your result</h5>
            <div id="my-result">
                {% include 'public/practice/'~slug~'/answer-'~question.id~'.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ asset('skin/js/public/question.js') }}"></script>
{% endblock %}
