{# templates/admin/form/response.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="row" style="display: flow-root">
        <h3>{{ title }}</h3>
        <p><a href="{{ path('admin_response_listing') }}">Back to listing</a></p>
    </div>
    <div class="row">
        {{form_start(form_edit)}}
        <p class="form-group">
            {{form_row(form_edit.user)}}
        </p>
        <p class="form-group">
            {{form_row(form_edit.question)}}
        </p>
        <p class="form-group">
            {{form_row(form_edit.answer)}}
        </p>
        <p class="form-group">
            {{form_row(form_edit.submit)}}
        </p>
        {{form_end(form_edit)}}
    </div>
    <div class="row" style="display: flow-root">
        <p><a href="{{ path('admin_response_listing') }}">Back to listing</a></p>
    </div>
{% endblock %}
