{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h3>{{ question.title }}</h3>
            <p>{{ question.description }}</p>            
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {% set response_id = response ? response : null %}
            {% set response_answer = response ? response : null %}
            <h5>Your code</h5>
            <p>
                <textarea id="textarea" class="form-control" placeholder="Put your code here..." data-id="{{ response_id }}">
                    {{ response_answer|nl2br }}
                </textarea>
            </p>
            <p>
                <button id="sendmycode" type="button" class="btn btn-primary">Send my code</button>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h5>Your result</h5>
        </div>
        <div class="col">
            <p class="form-group">
                <label for="ltx">Lat X</label>
                <input type="text" class="form-control" id="ltx" aria-describedby="ltxHelp" placeholder="0">
                <small id="ltxHelp" class="form-text text-muted">Put your first point here...</small>
            </p>
            <p class="form-group">
                <label for="lgx">Lng X</label>
                <input type="text" class="form-control" id="lgx" aria-describedby="lgxHelp" placeholder="0">
                <small id="lgxHelp" class="form-text text-muted">Put your second point here...</small>
            </p>
        </div>
        <div class="col">
            <p class="form-group">
                <label for="lty">Lat Y</label>
                <input type="text" class="form-control" id="lty" aria-describedby="ltyHelp" placeholder="0">
                <small id="ltyHelp" class="form-text text-muted">Put your third point here...</small>
            </p>
            <p class="form-group">
                <label for="lgy">Lng Y</label>
                <input type="text" class="form-control" id="lgy" aria-describedby="lgyHelp" placeholder="0">
                <small id="lgyHelp" class="form-text text-muted">Put your third point here...</small>
            </p>
        </div>
        <div class="col">
            <p class="form-group">
                <label for="result">Result</label>
                <input type="text" class="form-control" id="result" aria-describedby="resultHelp" placeholder="0">
                <small id="resultHelp" class="form-text text-muted">Result for your code here.</small>
            </p>
        </div>
        <div class="col-12">
            <button type="button" class="btn btn-primary" id="testmycode">Test my code</button>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ asset('skin/js/public/question.js') }}"></script>
{% endblock %}
