{% extends 'base.html.twig' %}

{% block body %}
    {% set slug =  app.request.get('slug') %}
    {% set sort =  app.request.get('sort') %}
    {% set response_answer = response[0] is defined ? response[0].answer : null %}
    {% if question[0].title is defined %}
    <div class="row">
        <div class="col-12">
            <h3>{{ question[0].title }}</h3>
            <p>{{ question[0].description }}</p>            
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h5>Your code</h5>
            <p>
                <textarea id="textarea" class="form-control" placeholder="Put your code here..." data-id="{{ sort }}">
                    {{ response_answer }}
                </textarea>
            </p>
            <p>
                <button id="sendmycode" type="button" class="btn btn-primary">Send my code</button>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h5>Your result</h5>
            <div id="my-result">
                {% include 'public/practice/'~slug~'/answer-'~sort~'.html.twig' %}
            </div>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-12">
            <div class="alert alert-primary">There is no question with parameters "{{ slug }}" and "{{ sort }}".</div>
        </div>
    </div>
    {%  endif %}
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ asset('skin/js/public/question.js') }}"></script>
{% endblock %}
